.editableSpan {
    position: relative;
}

.editableSpan button {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    word-break: keep-all;
    z-index: 9999;
}

.editableSpan:hover button {
    display: inline-block;
}